{% extends 'base.html.twig' %}
{% block title %}Danse baby danse !{% endblock %}

{% block body %}

	<h2>Les news !</h2>


	    <section id="actus" class="container row">
                
                <div> <!-- DO NOT DELETE !! -->
                    <div id="contenant-card"> <!-- contenant card -->
                        <div class="card col s12 m4">
                            <div class="card-image">
                                <img src="https://placehold.it/350x250">
                                <span class="card-title">Soirée SBK</span>
                            </div>
                            <div class="card-content">
                                <p>Lieu : 150 av des danseurs, 13190 Allauch</p>
                                <hr />
                                <p>Date: xx/xx/xx</p>
                                <p>Ticket d'entrée: xx€</p>
                            </div>
					        <div class="card-action">
					            <a href="#">plus d'infos</a>
					        </div>
                        </div>
                    </div>
                    
                    <div id="contenant-card"> <!-- contenant card -->
                        <div class="card col s12 m4">
                            <div class="card-image">
                                <img src="https://placehold.it/350x250">
                                <span class="card-title">Portes ouvertes</span>
                            </div>
                            <div class="card-content">
                                <p>Lieu : 150 av des danseurs, 13190 Allauch</p>
                                <hr />
                                <p>Date: xx/xx/xx</p>
                                <p>Ticket d'entrée: xx€</p>
                            </div>
					        <div class="card-action">
					            <a href="#">plus d'infos</a>
					        </div>
                        </div>
                    </div>
                    
                    <div id="contenant-card"> <!-- contenant card -->
                        <div class="card col s12 m4">
                            <div class="card-image">
                                <img src="https://placehold.it/350x250">
                                <span class="card-title">Stage jazz inter/avancé</span>
                            </div>
                            <div class="card-content">
                                <p>Lieu : 150 av des danseurs, 13190 Allauch</p>
                                <hr />
                                <p>Date: xx/xx/xx</p>
                                <p>Ticket d'entrée: xx€</p>
                            </div>
                            <div class="card-action">
					            <a href="#">plus d'infos</a>
					        </div>

                        </div>
                    </div>

                </div> <!-- DO NOT DELETE !! -->
            </section> <!-- END OF SECTION actus -->


            

{% endblock %}