{% extends 'base.html.twig' %}

{% block body %}

	<h4>Notre planning !</h4>

		<section id="planning" class="container">
			<p>Les horaires peuvent être modifiées en cours d'année.</p>
		 		
	      	<table class="striped centered responsive-table teal lighten-3">
	        	<thead>
	          		<tr class="centered">
	          			<th></th>
	          			<th>Lundi</th>
	          			<th></th>
	          			<th></th>
	          			<th>Mercredi</th>
	          			<th></th>
	          			<th></th>
	          			<th>Samedi</th>
	          			<th></th>
	          		</tr>
	        	</thead>
	        	<tbody>
	        		<tr>
		                <th>Horaires</th>
		                <th>Studio A</th>
		                <th>Studio B</th>
		                <th>Studio A</th>
		                <th>Studio B</th>
		                <th>Studio C</th>
		                <th>Studio A</th>
		                <th>Studio B</th>
		                <th>Studio C</th>
	          		</tr>
	          		<tr>
	          			<td>11h00</td>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th>*STAGES</th>
			            <th>**Prép. concours</th>
			            <th>**Prép. concours</th>
	          		</tr>
	          		<tr>
	          			<td>12h15</td>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th>STAGES</th>
			            <th></th>
			            <th></th>
	          		</tr>
	          		<tr>
	          			<td>13h30</td>
			            <th></th>
			            <th></th>
			            <th>Eveil</th>
			            <th></th>
			            <th></th>
			            <th>*STAGES</th>
			            <th>**Prép. concours</th>
			            <th>**Prép. concours</th>
	          		</tr>
	          		<tr>
	          			<td>14h45</td>
			            <th></th>
			            <th></th>
			            <th>Classique 7-9</th>
			            <th></th>
			            <th></th>
			            <th>STAGES</th>
			            <th></th>
			            <th></th>
	          		</tr>
	          		<tr>
	          			<td>15h00</td>
			            <th></th>
			            <th></th>
			            <th>Classique 10-12</th>
			            <th></th>
			            <th>Danse de salon 10-12</th>
			            <th>*STAGES</th>
			            <th>**Prép. concours</th>
			            <th>**Prép. concours</th>
	          		</tr>
	          		<tr>
	          			<td>16h15</td>
			            <th></th>
			            <th></th>
			            <th>Classique 13-15</th>
			            <th>Jazz 10-12</th>
			            <th>Danse de salon 13-15</th>
			            <th>*STAGES</th>
			            <th></th>
			            <th></th>
	          		</tr>
	          		<tr>
	          			<td>17h30</td>
			            <th></th>
			            <th></th>
			            <th>Classique 16+</th>
			            <th>Jazz 13-15</th>
			            <th></th>
			            <th>*STAGES</th>
			            <th></th>
			            <th></th>
	          		</tr>
	          		<tr>
	          			<td>18h45</td>
			            <th></th>
			            <th></th>
			            <th>Classique débutant</th>
			            <th>Jazz 16+</th>
			            <th>Danse de salon 16+</th>
			            <th>*STAGES</th>
			            <th></th>
			            <th></th>
	          		</tr>
	          		<tr>
	          			<td>19h00</td>
			            <th>Bachata inter</th>
			            <th>Jazz avancé</th>
			            <th>Classique inter</th>
			            <th></th>
			            <th>Salsa inter</th>
			            <th>*STAGES</th>
			            <th></th>
			            <th></th>
	          		</tr>
	          		<tr>
	          			<td>20h15</td>
			            <th>Bachata avancé</th>
			            <th>Jazz débutant</th>
			            <th>Classique avancé</th>
			            <th>Salsa débutant</th>
			            <th>Salsa avancé</th>
			            <th>*STAGES</th>
			            <th></th>
			            <th></th>
	          		</tr>
	          		<tr>
	          			<td>21h30</td>
			            <th>Bachata débutant</th>
			            <th>Jazz inter</th>
			            <th></th>
			            <th></th>
			            <th></th>
			            <th>*STAGES</th>
			            <th></th>
			            <th></th>
	          		</tr>
	        	</tbody>
	      	</table>

	      	<p>*STAGES : hors stage, le studio A pourra être occupé pour la préparation des conconcours.</p>
	      	<p>**CONCOURS: en fonction des concours présentés et du nombre d'élèves, les créneaux pourrons être regroupés. </p>

	      	<a class="btn" href="{{ path('inscriptions') }}">Je me pré-inscris !</a>

	    </section>

	    <h4>Les tarifs !</h4>

	    <section id="tarifs" class="container">

	    	<h5>Les cours :</h5>

	    	<table class="centered">
	    		<tbody>
	    			<tr>
	    				<th>1 cours /semaine</th>
	    				<th>2 cours /semaine</th>
	    				<th>3 cours /semaine</th>
	    				<th>4 cours et plus /semaine</th>
	    			</tr>
	    			<tr>
	    				<th>50€ /mois</th>
	    				<th>100€ /mois</th>
	    				<th>130€ /mois</th>
	    				<th>150€ /mois</th>
	    			</tr>
	    		</tbody>
	    	</table>

	    	<a class="btn" href="{{ path('inscriptions') }}">Je me pré-inscris !</a>

	    	<h5>Les concours :</h5>

	    	<table class="centered">
	    		<tbody>
	    			<tr>
	    				<th>1 /an</th>
		    			<th>2 /an</th>
		    			<th>3 /an</th>
	    			</tr>
	    			<tr>
	    				<th>100€</th>
		    			<th>200€</th>
		    			<th>270€</th>
	    			</tr>
	    		</tbody>
	    	</table>

	    	<p>Les tarifs pour les concours comprennent les frais d'adhésion à la FFD (l'école s'occupe de remplir et envoyer les dossiers) et 4 séances de 2h30 chacune (samedi matin).</p>
			<p>Les frais d'inscription à chaque concours ne sont pas inclus, prévoir 50€ par concours en moyenne.</p>
			<p>L'inscription à un concours doit au préalable être validée par le professeur. L'enfant doit présenter les capacités techniques et morales, et la rigueur adéquates pour ce type d'exercice : nous ne souhaitons pas qu'un échec affecte de trop votre enfant.</p>
			<p>L'inscription à un concours engage l'enfant et le parent accompagnant : les séances d'entraînement ont lieu le samedi - 1 concours nécessite au minimum 4 séances de 2h30 chacune (samedi matin).</p>
			<p>Pour tout renseignement complémentaire (solos, préparation épreuve de bac, trajets, costumes, autres...), s'adresser à la direction.</p>

	    	
	    </section>

{% endblock %}
