<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Compiled and minified CSS -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<header>
			<!-- Dropdown Structure PLANNING -->
			<ul id="planning" class="dropdown-content">
			  <li><a href="#!">Enfants et ados</a></li>
			  <li><a href="#!">Adultes</a></li>
			</ul>
			<!-- Dropdown Structure STAGES -->
			<ul id="stage" class="dropdown-content">
			  <li><a href="#!">Par dates</a></li>
			  <li><a href="#!">Par disciplines</a></li>
			</ul>
			<!-- Dropdown Structure INSCRIPTIONS -->
			<ul id="inscriptions" class="dropdown-content">
			  <li><a href="#!">Cours</a></li>
			  <li><a href="#!">Stages</a></li>
			</ul>
			<!-- Dropdown Structure PETITESANNONCES -->
			<ul id="annonces" class="dropdown-content">
			  <li><a href="#!">Consulter les annonces</a></li>
			  <li><a href="#!">Poster une annonce</a></li>
			</ul>
			<nav>
			  <div class="nav-wrapper">
			    <a href="home.html.twig" class="brand-logo">Danse baby danse !</a>
			    <ul class="right hide-on-med-and-down">
			      <!-- Dropdown Trigger -->
			      <li><a class="dropdown-trigger" href="#!" data-target="planning">Planning<i class="material-icons right"></i></a></li>
			      <li><a class="dropdown-trigger" href="#!" data-target="stage">Stages<i class="material-icons right"></i></a></li>
			      <li><a class="dropdown-trigger" href="#!" data-target="inscriptions">Inscriptions<i class="material-icons right"></i></a></li>
			      <li><a class="dropdown-trigger" href="#!" data-target="annonces">Petites annonces<i class="material-icons right"></i></a></li>
			      <li><a class="dropdown-trigger" href="{{ path('contact') }}" data-target="annonces">Contactez-nous !<i class="material-icons right"></i></a></li>
			      <li><a href="#!">Espace membre</a></li>
			    </ul>
			  </div>
			</nav>
        </header>

        <div class="container">

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
		</div>

        <!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    </body>
</html>
