<h2>Bonjour,</h2>

<h3>Nous avons bien enregistré votre demande de pré-inscription !</h3>

<p>Merci de vous présenter 15 minutes avant le début du cours que vous souhaitez intégrer.</p>
<p>Après votre cours d'essai le professeur vous indiqura si votre niveau vous permez de le suivre, ou vous conseillera un autre cours. 
<br>Cette démarche a pour but de ne pas vous mettre en diffculté et de ne pas ralentir la progression des autres participants.</p>
<p>La direction ou le professeur vous confiera les documents pour votre inscription définitive à la fin de votre cours d'essai.</p>