{% extends 'base.html.twig' %}
    {% block stylesheets %}
        
    {% endblock %}


{% block body %}

    <article>
        <p><i class="fa fa-screwdriver"></i> <i class="fa fa-wrench"></i> <i class="fa fa-screwdriver"></i></p>
        <h2>Merci,</h2>
        <p>Vous allez recevoir un email de confirmation de votre pré-inscription.</p>
        <a class="btn" href="{{ path('home') }}">Retour à l'accueil</a>
    </article>

{% endblock %}